$gray-base:              #000 !default;
$gray-darker:            #333f48 !default; // #222
$gray-dark:              #a5a5a5;
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #dfdfdf;
$gray-lighter:           #f7f7f7 !default;

$blue:          #1cb3f4;
$orange:        #ff6600;
$blue-darker:   #35414a;
